#LoadModule substitute_module modules/mod_substitute.so
AddType application/x-httpd-ea-php81 .html .htm

#ADD directive to only allow https://DOMAIN/?.* (no direct filenames, only index.php (but not named explicitly - like: https://domain/index.php?png_icon)) (protocol, domain, and arguemnts ONLY)

#<Location "/">
#    AddOutputFilterByType SUBSTITUTE text/html
#    Substitute "s/FLOOP/PLOOP/g"
#</Location>